body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#div1 {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
}

#ul1 {
    display: flex;
    list-style: none;
    gap: 20px;
}

#ul1 a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
}

#button1 {
    background-color: #DC0545;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#inner3-div1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

#div2 {
    display: flex;
    justify-content: center;
}

#ul2 {
    list-style: none;
    display: flex;
    gap: 20px;
}

#ul2 select {
    border: none;
}

#button2 {
    background-color: white;
    color: #DC0545;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid#DC0545;
}

#div3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div3 h1 {
    font-size: 40px;
}

#div3 p {
    font-size: 20px;
}

#div3 button {
    font-size: 15px;
}

#div3 img {
    height: 400px;
}

#div4 img {
    width: 100%;
}

#div5 {
    margin: 50px;
}

#inner1-div5 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#inner1-div6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;
}

#div6 {
    font-size: 30px;
    text-align: center;
    margin: 100px;
}


.div7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    position: relative;
    width: 982px;
    margin: 0 auto;
}

.inner1-div7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 982px;
    height: 56px;
    color: #333333;
    font-size: 47px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    white-space: nowrap;
}

.inner2-div7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 912px;
    height: 68px;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    text-overflow: initial;
    z-index: 1;
    overflow: hidden;
}